:root {
    --singleDIVwidth: 100px;
    --singleDIVheight: 100px;
    --GameBoardSize: 1000px;
}


body {
    background-color: cadetblue;
/*    display: flex;
    flex-wrap: wrap;*/
}

#main {
    text-align: center;
}

#GameBoard {
/*    background-color: black;*/
    position: center;
    text-align: center;
/*    width: var( --GameBoardSize);*/

}

.line {
    background-image: url("./png/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border:solid black;
    display: inline-block;
/*    width:10%;
    height: 160px;*/
    margin:0.1%;
    width: var(--singleDIVwidth);
    height: var(--singleDIVheight);
/*    border-radius: 50%;*/
    color:transparent; /* hide text on DIV*/
}

.selectedLine {
    background-image: url("./png/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    border:solid black;
    display: inline-block;
    width: var(--singleDIVwidth);
    height: var(--singleDIVheight);
/*    border-radius: 50%;*/
    color:transparent; /* hide text on DIV*/
    margin:0.1%;
}

.button {
    background-color: orange;
    width: var(--singleDIVwidth);
    height: 40px;
    margin: 2px;
}
.button:hover {
    background-color: yellow;
}

.winStyle {
    background-image: url("./png/background_WIN.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: gold;
    display: inline-block;
    width: var(--singleDIVwidth);
    height: var(--singleDIVheight);
/*    border-radius: 50%;*/
    color: transparent; /* hide text on DIV*/
    font-weight: 900;
    margin:0.1%;
}

#playerName {
    display: inline;
    font-weight: 900;
    background-color: darkblue;
    color:red;
    padding: 1%;
}
