body {
    background-color: cadetblue;
/*    display: flex;
    flex-wrap: wrap;*/
}

#main {
}

.line {
    background-image: url("./png/background.png");
    background-size: cover;
    background-color: black;
    border-style: dashed;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    width:10%;
    height:100px;
    margin:0.1%;
    color:transparent; /* hide text on DIV*/
}

.selectedLine {
    background-image: url("./png/background.png");
    background-size: cover;
    border-style: dashed;
    text-align: center;
    display: inline-block;
    width:10%;
    height:100px;
    margin:0.1%;
    color:transparent; /*red; hide text on DIV*/
}

.button {
    background-color: orange;
    width:10.6%;
    height: 40px;
}
.button:hover {
    background-color: yellow;
}

.winStyle {
    background-image: url("./png/background_WIN.png");
    background-size: cover;
    border-style: solid;
    border-color: gold;
    color:transparent; /*red; hide text on DIV*/
    text-align: center;
    display: inline-block;
    width:10%;
    height:100px;
    margin:0.1%;
    font-weight: 900;
}
